#cuadro_1{
  height: 200px;
  width: 200px;
  background-color: blue;
  margin-bottom: 50px;
}
#cuadro_2{
  height: 200px;
  width: 200px;
  background-color: red;
  margin-bottom: 50px;
}
#cuadro_3{
  height: 200px;
  width: 200px;
  background-color: green;
  margin-bottom: 50px;
}
#cuadro_4{
  height: 200px;
  width: 200px;
  background-color: yellow;
  margin-bottom: 50px;
}
